.nav-dropdown-link{
    float: left;
    text-decoration: none;
    color: #777;
    line-height: 20px;
    background-color: transparent;
    box-sizing: border-box;
}

.nav-dropdown-link a {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.nav-dropdown-link a:hover {
    cursor: pointer;
}

.blue {
    color: #42A5F5;
}

table, th, td {
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.payment_device .row {
    margin: 15px 0;
    width: 100%;
}

.exit_ramp .row{
    margin: 15px 0;
    width: 100%;
}

.parking_map {
    width: 80%;
    height: 400px;
    margin: 40px auto;
}

.parking_map img {
    width: 100%;
    height: 100%;
}

.spacing {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .nav-dropdown-link {
        width: 100%;
    }

    .navbar-text {
        padding-left: 15px;
    }

    .parking_map {
        width: 90%;
        height: 350px;
    }
}

@media only screen and (max-width: 400px) {
    .parking_map {
        width: 100%;
        height: 250px;
    }
}
